:root 
{
    --header: #2E86AB;
    --buttons: #FFA500;
    --background: #EDEDED;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.books {
  display: flex;
  flex-wrap: wrap;
  padding: 5rem;
}

.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
  padding: 1rem;
  border: solid;
  border-color: var(--header);
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

button {
  background-color: var(--buttons);
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.delete-button {
  background-color: red;
}

img {
  width: 200px;
  height: 300px;
}

nav {
  background-color: var(--header);
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 2rem;
}

nav a {
  text-decoration: none;
  padding: 1rem 1rem;
  color: var(--background);
}

a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  text-decoration: underline;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 28px;
  height: 24px;
  padding-right: 20px;
  cursor: pointer;
}

.hamburger-line {
  width: 100%;
  height: 2px;
  background-color: var(--background);
  transition: transform 0.3s ease;
}

.hamburger-line.active:nth-child(1) {
  transform: translateY(11px) rotate(45deg);
}

.hamburger-line.active:nth-child(2) {
  opacity: 0;
}

.hamburger-line.active:nth-child(3) {
  transform: translateY(-11px) rotate(-45deg);
}

@media screen and (max-width: 768px) {
  /* Show the hamburger menu on mobile devices */
  .hamburger-menu {
      display: flex;
  }

  /* Hide the nav links initially on mobile devices */
  .nav-links {
      display: none;
  }

  /* Show the nav links when the mobile menu is active */
  .nav-links.visible {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 10vh;
      right: 0;
      background-color: var(--header);
      width: 100%;
  }

  /* Style the nav links for mobile devices */
  .nav-links.visible li {
      margin-right: 0;
      text-align: center;
  }

  .nav-links.visible li a {
      display: block;
      padding: 1rem 1rem;
      color: var(--background);
      border-radius: 5px;
      text-decoration: none;
  }

  .nav-links.visible li a:hover {
      text-decoration: underline;
  }
}